@@include('include/head.html')

<body>
  <div id="wrap">
    <div class="guide_ver"></div>
    <div id="uiWrap" class="ui">
      <div class="ui__nav">
        <a href="#font">font</a>
        <a href="#color">color</a>
        <a href="#button">button</a>
        <a href="#icon">icon</a>
        <a href="#form">form</a>
        <a href="#tab">tab</a>
      </div>
      <div id="font" class="ui__cont">
        <h2 class="ui__cont--title">Font</h2>
      </div>
      <div id="color" class="ui__cont">
        <h2 class="ui__cont--title">Color</h2>
      </div>
      <div id="button" class="ui__cont">
        <h2 class="ui__cont--title">Button</h2>
      </div>
      <div id="icon" class="ui__cont">
        <h2 class="ui__cont--title">Icon</h2>
      </div>
      <div id="form" class="ui__cont">
        <h2 class="ui__cont--title">Form</h2>
      </div>
      <div id="tab" class="ui__cont">
        <h2 class="ui__cont--title">Tab</h2>
      </div>
    </div>

  </div>
</body>