@@include('include/head.html')

<body>
  <div id="wrap">
    <div class="guide_ver"></div>
    <div id="uiWrap" class="ui">
      <div class="ui__nav">
        <a href="#color">color</a>
        <a href="#font">font</a>
        <a href="#button">button</a>
        <a href="#icon">icon</a>
        <a href="#form">form</a>
        <a href="#tab">tab</a>
      </div>
      <div id="color" class="ui__page">
        <h2 class="ui__page--title">Color</h2>
        <div class="ui__page--cont">
          <div class="colors">
            <h3 class="colors__title">Primary</h3>
            <ul class="colors__list">
              <li class="colors__card">
                <p class="primary-10">Aa</p>
                <div class="hex">
                  <span>#d65f5f</span>
                  <span>214, 95, 95</span>
                </div>
              </li>
              <li class="colors__card">
                <p class="primary-20">Aa</p>
                <div class="hex">
                  <span>#ef3b3d</span>
                  <span>239, 59, 61</span>
                </div>
              </li>
              <li class="colors__card">
                <p class="primary-30">Aa</p>
                <div class="hex">
                  <span>#ecd26b</span>
                  <span>236, 210, 107</span>
                </div>
              </li>
              <li class="colors__card">
                <p class="primary-40">Aa</p>
                <div class="hex">
                  <span>#353535</span>
                  <span>53, 53, 53</span>
                </div>
              </li>
              <li class="colors__card">
                <p class="primary-50">Aa</p>
                <div class="hex">
                  <span>#1d1a1a</span>
                  <span>29, 26, 26</span>
                </div>
              </li>
            </ul>

            <h3 class="colors__title gray">Gray Scale</h3>
            <ul class="gray__scale">
              <li class="gray__scale--10"></li>
              <li class="gray__scale--20"></li>
              <li class="gray__scale--30"></li>
              <li class="gray__scale--40"></li>
              <li class="gray__scale--50"></li>
              <li class="gray__scale--60"></li>
              <li class="gray__scale--70"></li>
              <li class="gray__scale--80"></li>
              <li class="gray__scale--90"></li>
              <li class="gray__scale--100"></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="font" class="ui__page">
        <h2 class="ui__page--title">Font</h2>
        <div class="ui__page--cont">
          <div class="fonts">
            <p class="text-box">Pretendard 폰트를 사용하며, 기본 설정은
              {font-family:'Pretendard','맑은고딕',sans-serif;font-weight:400;color:#222;}</p>
            <div class="fonts__list">
              <p class="fonts__list--thin">100 - Pretendard 프리탠다드</p>
              <p class="fonts__list--extraLight">200 - Pretendard 프리탠다드</p>
              <p class="fonts__list--light">300 - Pretendard 프리탠다드</p>
              <p class="fonts__list--regular">400 - Pretendard 프리탠다드</p>
              <p class="fonts__list--medium">500 - Pretendard 프리탠다드</p>
              <p class="fonts__list--semiBold">600 - Pretendard 프리탠다드</p>
              <p class="fonts__list--bold">700 - Pretendard 프리탠다드</p>
              <p class="fonts__list--extraBold">800 - Pretendard 프리탠다드</p>
              <p class="fonts__list--black">900 - Pretendard 프리탠다드</p>
            </div>
          </div>
        </div>
      </div>
      <div id="button" class="ui__page">
        <h2 class="ui__page--title">Button</h2>
        <div class="ui__page--cont">
          <div class="buttons">
            <p class="text-box">
              btn 클래스에 필수 요소의 클래스를 추가하여 활용.
            </p>
            <button class="btns border sizeL radiusL" type="button">Button</button>
            <button class="btns colorW sizeL bg-primary radiusL" type="button">Button</button>
            <button class="btns colorW sizeM bg-red radiusS" type="button">Button</button>
            <button class="btns colorW sizeS bg-yellow radiusL" type="button">Button</button>
            <button class="btns colorW sizeS bg-blue radiusS" type="button">Button</button>
          </div>
        </div>
      </div>
      <div id="icon" class="ui__page">
        <h2 class="ui__page--title">Icon</h2>
        <div class="ui__page--cont"></div>
      </div>
      <div id="form" class="ui__page">
        <h2 class="ui__page--title">Form</h2>
        <div class="ui__page--cont">
          <div class="forms">
            <div class="forms__input">
              <h3 class="forms__input__tit">1. Input Text - BasicBox</h3>
              <div class="input__wrap">
                <div class="input__text">
                  <input type="text" id="text" name="text" placeholder="input text" required aria-required="true">
                  <button class="btn-clear"><span class="a11y-hidden">clear</span></button>
                </div>
              </div>
              <div class="input__wrap">
                <div class="input__label">
                  <label class="input__lab" for="username">LABEL</label>
                </div>
                <div class="input__text">
                  <input type="text" id="username" name="username" placeholder="input text" required
                    aria-required="true">
                  <button class="btn-clear"><span class="a11y-hidden">clear</span></button>
                </div>
                <p class="error-desc">잘못 입력했습니다</p>
              </div>
              <div class="input__wrap">
                <div class="input__text">
                  <input type="text" id="text" name="text" placeholder="input text" required disabled
                    aria-required="true">
                  <button class="btn-clear"><span class="a11y-hidden">clear</span></button>
                </div>
                <p class="error-desc">잘못 입력했습니다</p>
              </div>
              <!-- input - error -->
              <div class="input__wrap error">
                <div class="input__text">
                  <input type="text" id="text" name="text" placeholder="input text" required aria-required="true">
                  <button class="btn-clear"><span class="a11y-hidden">clear</span></button>
                </div>
                <p class="error-desc">잘못 입력했습니다</p>
              </div>
              <!-- //input - error -->
            </div>

            <div class="forms__input">
              <h3 class="forms__input__tit">2. Input Text - SEARCH</h3>
              <div class="input__wrap">
                <div class="input__text typeSearch">
                  <input type="text" id="text" name="text" placeholder="input text" required aria-required="true">
                  <button class="btn-clear"><span class="a11y-hidden">clear</span></button>
                  <button class="btn-search"><i class="icon icon-search"></i></button>
                </div>
              </div>
            </div>

            <div class="forms__input">
              <h3 class="forms__input__tit">3. Input Text - SEARCH2</h3>
              <div class="input__wrap">
                <div class="input__text typeSearch2">
                  <input type="text" id="text" name="text" placeholder="input text" required aria-required="true">
                  <button class="btn-clear"><span class="a11y-hidden">clear</span></button>
                  <button class="btn-search"><i class="icon icon-search"></i></button>
                </div>
              </div>
            </div>

            <div class="forms__input">
              <h3 class="forms__input__tit">4. Checkbox</h3>
              <div class="input__wrap">
                <span class="input__checkBox">
                  <input type="checkbox" name="input-check1" id="input-check1">
                  <label for="input-check1">check1</label>
                </span>
                <span class="input__checkBox">
                  <input type="checkbox" name="input-check2" id="input-check2">
                  <label for="input-check2">check2</label>
                </span>
                <span class="input__checkBox">
                  <input type="checkbox" name="input-check3" id="input-check3" disabled>
                  <label for="input-check3">check3</label>
                </span>
              </div>
            </div>

            <div class="forms__input">
              <h3 class="forms__input__tit">5. Radiobox</h3>
              <div class="input__wrap">
                <span class="input__radioBox">
                  <input type="radio" name="input-radio1" id="input-radio1-1">
                  <label for="input-radio1-1">radio1</label>
                </span>
                <span class="input__radioBox">
                  <input type="radio" name="input-radio1" id="input-radio1-2">
                  <label for="input-radio1-2">radio2</label>
                </span>
                <span class="input__radioBox">
                  <input type="radio" name="input-radio" id="input-radio1-3" disabled>
                  <label for="input-radio1-3">radio3</label>
                </span>
              </div>
            </div>

            <div class="forms__input">
              <h3 class="forms__input__tit">6. Selectbox</h3>
              <div class="input__wrap">
                <div class="input__selectBox">
                  <!-- <label for="selectBox1">select</label> -->
                  <select name="selectBox1" id="selectBox">
                    <option value="option1">option1</option>
                    <option value="option1">option2</option>
                    <option value="option1">option3</option>
                    <option value="option1">option4</option>
                    <option value="option1">option5</option>
                  </select>
                </div>

                <div class="input__selectBox">
                  <!-- <label for="selectBox1">select</label> -->
                  <select name="selectBox1" id="selectBox">
                    <option value="option1">option1</option>
                    <option value="option1">option2</option>
                    <option value="option1">option3</option>
                    <option value="option1">option4</option>
                    <option value="option1">option5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div id="tab" class="ui__page">
        <h2 class="ui__page--title">Tab</h2>
        <div class="ui__page--cont">
          <div class="tabs">
            <ul class="tabs__list">
              <li class="tabs__btn on">Tab1</li>
              <li class="tabs__btn">Tab2</li>
              <li class="tabs__btn">Tab3</li>
            </ul>
            <div class="tabs__content show" id="tabContent1">Tab1</div>
            <div class="tabs__content" id="tabContent2">Tab2</div>
            <div class="tabs__content" id="tabContent3">Tab3</div>
          </div>
        </div>
      </div>

    </div>
</body>