$root-font-size: 10px;

// font
$font-family: 'Pretendard', 'Malgun Gothic', 'Apple SD Gothic Neo', sans-serif;

// colors
$color-primary-10: #d65f5f;
$color-primary-20: #ef3b3d;
$color-primary-30: #ecd26b;
$color-primary-40: #353535;
$color-primary-50: #050404;

$color-black: #000;
$color-white: #fff;

$color-semantic-essential: #f64a4a;
$color-semantic-error: #f53232;
$color-semantic-caution: #ec700f;
$color-semantic-warning: #ffa514;
$color-semantic-positive: #42a946;
$color-semantic-bg: #ecd26b;

$color-red-10: #fef2f2;
$color-red-20: #fee2e2;
$color-red-30: #fecacb;
$color-red-40: #fca5a6;

$color-blue-10: #e7f3fd;
$color-blue-20: #88aff9;
$color-blue-50: #003acf;
$color-blue-60: #1a32b4;
$color-blue-70: #002583;
$color-blue-70: #1d47b2;

$color-gray-10: #f5f6f6;
$color-gray-20: #eaeaea;
$color-gray-30: #e0e0e0;
$color-gray-40: #c6c6c6;
$color-gray-50: #bdbdbd;
$color-gray-60: #8f8f8f;
$color-gray-70: #757575;
$color-gray-80: #353535;
$color-gray-90: #1d1a1a;
$color-gray-100: #050404;

// SVG icons
$svgIcons: (
    'arrowDown':
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M0 30.8l50 50 50-50-11.7-11.6L50 57.5 11.7 19.2z"/></svg>',
    'closeX':
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M82.8 95.91L50 63.12 17.2 95.91a9.25 9.25 0 01-13.11 0 9.25 9.25 0 010-13.11L36.88 50 4.09 17.2a9.25 9.25 0 010-13.11 9.25 9.25 0 0113.11 0L50 36.88 82.8 4.09a9.25 9.25 0 0113.11 0 9.25 9.25 0 010 13.11L63.12 50l32.79 32.8a9.25 9.25 0 010 13.11 9.25 9.25 0 01-13.11 0z"/></svg>',
);
