@use './base/reset';
@use './abstracts/var';
@use './layouts/header';

.ui {
    padding-top: 7rem;
    &__nav {
        position: fixed;
        top: 0;
        left: -2px;
        width: 100%;
        z-index: 10;
        padding: 2rem 3rem;
        display: flex;
        gap: 1rem;
        background: #eee;
        border-bottom: 1px solid #d3d2d2;
        padding-right: 25rem;
        a {
            display: inline-block;
            text-align: center;
            line-height: 2.5rem;
            font-size: 1.2rem;
            background: #f9f9f9;
            border: 1px solid #ccc;
            padding: 0 1rem;
            text-transform: uppercase;
            &:hover {
                color: #fff;
                background: var.$color-primary;
            }
        }
    }
    &__cont {
        padding: 2rem;
    }
}
