@use './base/reset';
@use './abstracts/var';
@use './layouts/header';

body {
    // background: var.$red;
}

.listUp {
    padding: 60px 40px;
    &__tit {
        font-size: 3.6rem;
        font-weight: 800;
        color: var.$color-blue-60;
    }
    &__cont {
        margin-top: 2.2rem;
        padding: 2rem 0;
    }
    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.2rem;
        margin-bottom: 2rem;
        padding: 0 1.2rem;
    }
    &__txt {
        font-size: 1.8rem;
        font-weight: 400;
        color: #a0a0a0;
        letter-spacing: -0.02em;
    }
    &__strong {
        font-weight: 700;
        color: var.$color-blue-60;
        opacity: 0.85;
    }
    &__table {
        border-top: 1.5px solid #e9e9e9;
        width: 100%;
        color: #111;
        & + & {
            margin-top: 10rem;
        }
    }
    &__th {
        padding: 2rem;
        background-color: var.$color-blue-70;
        font-weight: 500;
        font-size: 1.5rem;
        border-right: 1px solid #ccc;
        color: #fff;
        &:last-of-type {
            border-right: none;
        }
    }
    &__td {
        padding: 1.8rem 1.2rem;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        font-weight: 400;
        font-size: 1.5rem;
        &:last-of-type {
            border-right: none;
        }
    }
    .comp {
        .listUp__td {
            color: var.$color-blue-50;
            font-weight: 600;
            background-color: var.$color-gray-60;
        }
    }
}
