@use 'abstracts/mixins' as mix;
@use 'abstracts/variables' as var;
@use 'abstracts/functions' as func;

* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

*,
:after,
:before {
    box-sizing: border-box;
}

:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    overflow-wrap: break-word;
    -moz-tab-size: 4;
    tab-size: 4;

    // --vh: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* table border 문제로 인해 별도 설정 */
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* // table border 문제로 인해 별도 설정 */
pre {
    white-space: pre-wrap;
}
html {
    font-size: var.$root-font-size; // 10px

    // @include respond-to(small-phone) {
    //     font-size: 62.5%;
    // }
    // @include respond-to(tablet) {
    //     font-size: 56.25%;
    // }
    // @include respond-to(desktop) {
    //     font-size: 62.5%;
    // }
}
body {
    font-family: var.$font-family, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var.$color-black;
    font-weight: 400;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-user-select: auto;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 1);
    -webkit-background-color: rgba(255, 255, 255, 1);
    resize: none;

    &::placeholder {
        color: #a0a0a0;
    }
    &[type='text']:disabled {
        background-color: rgba(240, 240, 240, 1);
        -webkit-background-color: rgba(240, 240, 240, 1);
        opacity: 1;
        -webkit-opacity: 1;
    }
    &[type='text']:read-only {
        background-color: rgba(240, 240, 240, 1);
        -webkit-background-color: rgba(240, 240, 240, 1);
        opacity: 1;
        -webkit-opacity: 1;
    }
}

/* 포커스 스타일 (접근성 강화) */
input:focus,
textarea:focus,
select:focus {
    outline: 2px solid #000;
    outline-offset: 2px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}
